.modal-footer {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.modal-header {
  padding-bottom: 15px !important;
  padding-top: 15px !important;
}

.volunteer-modal {
  width: 90vw;
}
