.shift-card-btn {
  background: transparent;
  border: none !important;
  padding: 0;
}

.info {
  margin-bottom: 1rem;
}

.bg-recommended {
  background: #c9e1bf;
}

.shift-card-btn:focus {
  outline: none;
}

.list-group-item :first-child {
  margin-right: 0;
}

.btn-recommended {
  color: white !important;
  border: 1px solid white !important;
}

.btn-more-info {
  color: white !important;
  background-color: #27a659 !important;
  margin-bottom: 0 !important;
  border-color: white;
}

.ic-recommended {
  float: right;
  margin-top: 0.6em;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem !important;
}
