.shift-card-btn {
  background: transparent;
  border: none !important;
  padding: 0;
}

.info {
  margin-bottom: 1rem;
}

.bg-recommended {
  background: #c9e1bf;
}

.shift-card-btn:focus {
  outline: none;
}

.list-group-item :first-child {
  margin-right: 0;
}

.btn-recommended {
  color: white !important;
  border: 1px solid white !important;
}

.btn-more-info {
  color: white !important;
  background-color: #27a659 !important;
  margin-bottom: 0 !important;
  border-color: white;
}

.ic-recommended {
  color: white;
  font-weight: bold;
  margin-top: auto;
}

.shift-card-modal.modal-footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem !important;
}

.shift-card {
  z-index: 0;
}

.shift-card.recommended {
  border-style: solid;
  border-width: thick;
  border-color: #27a659;
}

.shift-card.booked {
  border: 6px solid #27a659;
  opacity: 0.5;
}

.shift-card.deleted {
  border: 6px solid #f44336;
  opacity: 0.5;
}

.shift-card.cancelled {
  border: 6px solid #f44336;
  opacity: 0.5;
}
