.shift-card-btn {
  background: transparent;
  border: none !important;
  padding: 0;
}

.info {
  margin-bottom: 1rem;
}

.bg-recommended {
  background: #c9e1bf;
}

.shift-card-btn:focus {
  outline: none;
}

.list-group-item :first-child {
  margin-right: 0;
}
