div.modal-header input.rbt-input-main.form-control.rbt-input {
  font-size: inherit;
}

div.modal-body label {
  font-weight: 500;
}

.form {
  margin-bottom: 0;
}

.no-form {
  margin-bottom: 1rem;
}

textarea {
  resize: none;
}
