body {
  background: #fafafa url("./assets/images/background-triangle.svg") no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-primary {
  background-color: #27a659 !important;
}

.btn.btn-raised.btn-primary {
  color: white !important;
  background-color: #27a659 !important;
}

.btn-primary {
  color: #27a659 !important;
}

.btn-outline-primary {
  color: #27a659 !important;
}

.text-primary {
  color: #27a659 !important;
}
